:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body{
    padding: 20px;
    margin: auto;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: #fff 1px solid;
    border-radius: 5px;
    box-shadow: gray 0px 0px 10px 0px;
    margin: 0 auto;
  }
  
  h1 {
    color: #00b3ff;
    font-size: large;
    word-wrap: normal;
  }

  p {
    color: black;
    font-size: x-small;
  }
  
  .videoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px; /* add position relative */
  }
  
  video {
    display: block;
    margin: 0 auto;
    border-radius: 1%;
    
  }


  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0;
  }
  
  .camView {
    /* remove position fixed */
    width: calc(100% - 20px);
    margin: 5px;
    cursor: pointer;
  }



  .camContainer {
    position: relative; /* new container */
  }
  
  .camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 222, 92, 0.85);
    color: #111111;
    border: 1px dotted rgba(255, 255, 255, 0);
    z-index: 2;
    font-size: 12px;
  }
  
  .highlighter {
    background: rgba(81, 255, 0, 0.24);
    z-index: 1;
    position: absolute;
  }
  
  #webcamButton {
    background-color: #ff009d;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  #webcamButton:hover {
    background-color: #ffbb00;
  }
  
  #switchCamera {
    background-color: #ff009d;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  #switchCamera:hover {
    background-color: #ffbb00;
  }
  